div[id=page] #give-purchase-button {
    padding: 18px 70px;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 600;
    border-radius: 15px;
}

div[id=page] .give-submit-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id=page] .give-submit-button-wrap:focus {
    filter: brightness(120%);
}

div[id=page] #give-sidebar-left {
    display: none;
}

div[id=page] #lkn_give_purchase_form_wrap {
    display: none;
}

div[id=page] .give-donation-level-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    cursor: pointer;
    line-height: 1.7em;
    width: 100%;
    height: 100%;
}

div[id=page] .give-donation-level-btn:hover {
    filter: brightness(120%);
}

div[id=page] .give-default-level:hover {
    filter: brightness(120%);
}

div[id=page] .give-btn-level-custom {
    font-weight: 600;
}

div[id=page] .give-total-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id=page] .give-donation-amount {
    width: fit-content;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 22%);
    border-radius: 5px;
    overflow: hidden;
    padding: 12px 16px;
    float: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid;
}

div[id=page] #give-donation-level-button-wrap {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 16px 80px;
}

div[id=page] #give-donation-level-button-wrap:after,
div[id=page] #give-donation-level-button-wrap:before {
    content: none;
}

div[id=page] .give-input {
    font-size: 1.3em;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 22%);
    border: solid 2px #ccc;
    border-radius: 5px;
    line-height: 1.3em;
}

div[id=page] #give-final-total-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div[id=page] .give-btn-reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}

div[id=page] #give-purchase-button:hover {
    filter: brightness(120%);
}

div[id=page] .give-btn-reveal:hover {
    filter: brightness(120%);
}

div[id=page] .lkn-btn-gateway {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}

div[id=page] .lkn-btn-gateway:hover {
    filter: brightness(120%);
}

div[id=page] div.summary {
    width: 100%;
    float: none;
}

div[id=page] form[id*=give-form] #give-gateway-radio-list>li input[type=radio] {
    display: none;
}

div[id=page] form[id*=give-form] #give-gateway-radio-list>li {
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    line-height: 2em;
    font-weight: 600;
    height: 100%;
}

div[id=page] form[id*=give-form] #give-gateway-radio-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

div[id=page] form[id*=give-form] .give-donation-amount .give-currency-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    background-color: transparent;
}

div[id=page] form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-before {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 2px solid darkgrey;
}

div[id=page] form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-after {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid darkgrey;
    border-right: none;
}

div[id=page] form[id*=give-form] .give-donation-amount {
    margin: 5px auto 15px;
}

div[id=page] form[id*=give-form] .give-donation-amount #give-amount,
div[id=page] form[id*=give-form] .give-donation-amount #give-amount-text {
    display: block;
    text-align: center;
    border: none;
    line-height: 1.7em;
    height: auto;
    font-size: 1.7em;
    min-width: 180px;
}

div[id=page] form[id*=give-form] #give-gateway-radio-list:after,
div[id=page] form[id*=give-form] #give-gateway-radio-list:before {
    content: none;
}

div[id=page] #give-recurring-form .form-row .give-input-field-wrapper,
div[id=page] #give-recurring-form .form-row input[type=email],
div[id=page] #give-recurring-form .form-row input[type=password],
div[id=page] #give-recurring-form .form-row input[type=tel],
div[id=page] #give-recurring-form .form-row input[type=text],
div[id=page] #give-recurring-form .form-row input[type=url],
div[id=page] #give-recurring-form .form-row select,
div[id=page] #give-recurring-form .form-row textarea,
div[id=page] form.give-form .form-row .give-input-field-wrapper,
div[id=page] form.give-form .form-row input[type=email],
div[id=page] form.give-form .form-row input[type=password],
div[id=page] form.give-form .form-row input[type=tel],
div[id=page] form.give-form .form-row input[type=text],
div[id=page] form.give-form .form-row input[type=url],
div[id=page] form.give-form .form-row select,
div[id=page] form.give-form .form-row textarea,
div[id=page] form[id*=give-form] .form-row .give-input-field-wrapper,
div[id=page] form[id*=give-form] .form-row input[type=email],
div[id=page] form[id*=give-form] .form-row input[type=password],
div[id=page] form[id*=give-form] .form-row input[type=tel],
div[id=page] form[id*=give-form] .form-row input[type=text],
div[id=page] form[id*=give-form] .form-row input[type=url],
div[id=page] form[id*=give-form] .form-row select,
div[id=page] form[id*=give-form] .form-row textarea {
    border: solid 2px #ccc;
    border-radius: 5px;
}

div[id=page] form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 22%);
}

div[id=page] form[id*=give-form] #give-final-total-wrap .give-final-total-amount {
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 22%);
}

div[id=page] [id*=give-form].give-display-modal .give-btn,
div[id=page] [id*=give-form].give-display-reveal .give-btn {
    margin: 0px auto;
}

div[id=page] [id*=give-form] .give-custom-amount-text {
    margin: 500px auto 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

@media screen and (max-width: 850px) {
    div[id=page] #give-donation-level-button-wrap {
        margin: 16px 20px;
    }

    div[id=page] form[id*=give-form] #give-gateway-radio-list>li {
        font-size: 1em;
    }
}

@media screen and (max-width: 500px) {
    div[id=page] .give-donation-level-btn {
        font-size: 1.4em;
    }

    div[id=page] .give-donation-amount {
        max-width: 100%;
    }

    div[id=page] #give-donation-level-button-wrap {
        grid-gap: 8px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 8px 0px;
    }

    div[id=page] form[id*=give-form] #give-gateway-radio-list {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    div[id=page] form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
        font-size: 13px;
    }

    div[id=page] form[id*=give-form] #give-final-total-wrap .give-final-total-amount {
        font-size: 13px;
    }

    div[id=page] .give-btn-level-custom {
        font-size: 14px;
        font-weight: 600;
    }
}

/* FOOTER NOTICE */

div[id=page] .lkn_notice_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

div[id=page] .lknNoticeText {
    font-size: 13px;
    color: #989898;
}